@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    background-color: #f5f8fa;
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img { height: 50px; }
nav a { text-decoration: none; color: #333; margin-left: 20px; font-weight: 600; font-size: 0.9rem; }
nav a:hover { color: #52c9ff; }

/* Layout */
main { flex: 1; max-width: 1100px; margin: 0 auto; width: 90%; padding: 40px 0; }
.text-center { text-align: center; }
h1 { font-weight: 700; margin-bottom: 50px; font-size: 2.5rem; text-align: center; }

/* Grille */
.grid { display: flex; justify-content: center; gap: 30px; flex-wrap: wrap; }

/* Carte Animal */
.card {
    background: white;
    border-radius: 15px;
    width: 280px;
    overflow: hidden;
    /* Ombre très légère comme sur la maquette */
    box-shadow: 0 5px 15px rgba(0,0,0,0.03); 
    display: flex;
    flex-direction: column;
}

.card-img-container {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.card img:hover { transform: scale(1.05); }

.card-body { padding: 20px; flex: 1; display: flex; flex-direction: column; }
.card h3 { margin: 0 0 10px 0; font-size: 1.4rem; font-weight: 700; }

.infos { 
    font-size: 0.85rem; 
    color: #666; 
    line-height: 1.5; 
    margin-bottom: 20px; 
    flex: 1; 
}
.infos strong { color: #333; }

.actions { 
    display: flex; 
    justify-content: space-between; 
    padding-top: 15px;
    border-top: 1px solid #f0f0f0; /* Séparation subtile */
}

.link-blue { color: #52c9ff; text-decoration: none; font-weight: 600; font-size: 0.8rem; }
.link-red { color: #ff6b6b; text-decoration: none; font-weight: 600; font-size: 0.8rem; }
.link-blue:hover, .link-red:hover { text-decoration: underline; }

/* Page Détail */
.detail-container { 
    display: flex; 
    align-items: center; 
    gap: 60px; 
    margin-top: 20px; 
}
.detail-img { width: 350px; border-radius: 20px; box-shadow: 0 10px 20px rgba(0,0,0,0.05); }
.detail-info h2 { font-size: 3rem; margin-top: 0; margin-bottom: 20px; }
.detail-desc { margin-top: 25px; line-height: 1.8; color: #555; font-size: 1rem; }

/* Page 404 */
.error-page { margin-top: 80px; text-align: center; }

.bloc-error {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloc-error a {
    align-self: center;
}

/* Footer */
footer { text-align: center; padding: 30px; font-size: 0.8rem; color: #888; }